$primary-color: rgb(17, 117, 162);
$secondary-color: rgba(253, 253, 253, 60%);
$hover-color: rgba(17, 117, 162, 59%);

$theme-colors: (
        success: rgba(77, 255, 26, 0.58),
        back: rgba(213, 10, 7, 0.58),
        warning: rgba(238, 199, 5, 0.58)
);

$spacing-padding-sm:10px;

