html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    background-image: url("img/windows.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-weight: 400;
    font-size: 25px;
    background-color: rgb(17 117 162 / 53%);
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    margin: 20px auto 0;
    width: fit-content;

}

.column{
    float: left;
    width: 18%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    margin:10px;
    color: black;
    background-color: rgba(253,253,253,60% );
}
h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Roboto, sans-serif;
}
.card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 40px;
    padding-right: 0px;
    position: relative;
    border: solid 1px #0000001c;
    margin-bottom: 10px;
    font-size: 15px;
}

.card:hover{
    background-color: rgb(17 117 162 / 59%);
    cursor: pointer;
}

.card:hover h3,
.card:hover p {
    color: white;
}

.card:hover .close-btn {
    background-color: black;
}



.tags{
    position: absolute;
    bottom: 0.5px;
    left: 10px;
    padding-bottom: 10px;
}

.card h3{
    text-align: left;
    padding-top: 10px;
    font-size: 16px;
}

.front, .back, .device {
    float: left;
    margin-left: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.front {
    background-color: rgba(77,255,26,0.58);

}

.back {
    background-color: rgba(213,10,7,0.58);

}

.device {
    border-radius: 60%;
    background-color: rgba(238, 199, 5, 0.58);

}

.front i, .back i, .device i {
    color: white;
}

.card:hover .front i,
.card:hover .back i,
.card:hover .device i {
    color: rgba(26,89,140,0.99);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
}

.close-btn span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}